<div class="nowplaying">
    <div class="big">
        <div class="heading-big mb-5"><h4>Now Playing</h4></div>
        <div class="image-big">
            <img id="thumbnail-big" src="/public/assets/Napster.jpeg" />
        </div>
        <div class="song-details-big">
            <h5 id="song-name-big">Song Name</h5>
            <!-- <h5 id="artist-name-big">Artist Name</h5>
            <h5 id="album-name-big">Album Name</h5> -->
        </div>
        <br>
        <br>
        <div class="options-big">
            <ul>
                <li id="now-playing-playlist" class="options-button-big"><button class="btn btn-primary"><i class="material-icons">playlist_add</i></button></li>
                <li id="now-playing-favorite" class="options-button-big"><button class="btn btn-primary"><i class="material-icons" id="favorite-icon-big">favorite_border</i></button></li>
            </ul>
        </div>
    </div>
</div>