<div class="useroptions">
    <div class="big">
        <div class="profile-options">
            <div class="image-big">
                <img id="profile-pic" src="/assets/Napster.jpeg" />
            </div>
            <div class="profile-name">
                <h5><%= user.name %><span><i class="fas fa-ellipsis-v"></i></span></h5>
            </div>
        </div>
        <hr/>
        <div class="song-options">
            <ul class="song-options-list">
                <li class="userbuttons"><button class="btn btn-default" id = "allSongs-button"><i class="material-icons">library_music</i>&nbsp;&nbsp;All Songs</button></li>
                <li class="userbuttons"><button class="btn btn-default" id = "playList-button"><i class="material-icons">playlist_play</i>&nbsp;&nbsp;Playlist</button></li>
                <li class="userbuttons"><button class="btn btn-default" id = "favorites-button"><i class="material-icons">favorite</i>&nbsp;&nbsp;Favourites</button></li>
            </ul>
        </div>
    </div>
</div>