<div class="useroptions">
    <div class="big">
        <div class="profile-options">
            <div class="image-big">
                <img id="profile-pic" src="/public/assets/Napster.jpeg" />
            </div>
            <div class="profile-name">
                <div class="dropdown show">
                    <span class="user-dropdown dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5><%= user.name %></h5>
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/album/create">Create New Album</a>
                        <a class="dropdown-item" href="/playlist/create">Create New Playlist</a>
                        <a class="dropdown-item" href="/music/upload">Upload New Music</a>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="song-options">
            <ul class="song-options-list">
                <li class="userbuttons"><button class="btn btn-default" id = "allSongs-button"><i class="material-icons">library_music</i>&nbsp;&nbsp;All Songs</button></li>
                <li class="userbuttons"><button class="btn btn-default" id = "playList-button"><i class="material-icons">playlist_play</i>&nbsp;&nbsp;Playlist</button></li>
                <li class="userbuttons"><button class="btn btn-default" id = "favorites-button"><i class="material-icons">favorite</i>&nbsp;&nbsp;Favourites</button></li>
            </ul>
        </div>
    </div>
</div>