<form method="POST" action="/search">
  <div class="input-group mb-3">
    <input type="text" name="song_search" class="form-control" placeholder="Enter song name">
    <div class="input-group-append">
      <span class="input-group-text btn btn-default">Search</span>
    </div>
  </div>
</form>