
<%- contentFor('body') %>

<h1 class="mt-4"><%= dashboard_title %></h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<a href="/album/create" class="btn btn-primary">Create New Album</a>
<a href="/playlist/create" class="btn btn-primary">Create New Playlist</a>
<a href="/music/upload" class="btn btn-primary">Upload New Music</a>


<a href="/users/logout" class="btn btn-tertiary">Logout</a>

<%- contentFor('footer') %>
<% include ./partials/footer %>